{% extends "base.html" %}
{% load static %}

{% block title %}
	My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock %}

{% block content %}s
    <section id="welcome">
        <header>
            <img src="{% static "blog/images/alex_tv_muscle.jpg" %}" alt="Alex - The Author of This Blog">
            <h2>ALEX'S Blog</h2>
        </header>
        <p>Hi, I am Alex and I love to blog about tech and the world!</p>
    </section>

    <section id="latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts %}
                {# post data available here #}
                {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="about">
        <h2>What I Do</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore, ex! A cupiditate dolorem doloribus ducimus earum excepturi iure magnam obcaecati odio officia quae quaerat quasi rem reprehenderit soluta, unde!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium aliquam aut consequatur consequuntur deserunt dicta fuga in inventore libero magni maxime modi numquam omnis provident quia quis, sint veniam.</p>
    </section>
{% endblock %}